*.pdf
*.zip

target/
temp-pdfs/
compressed-images/
compressed-pdfs/
converted-images/
converted-pdfs/
converted-word-files/
cropped-pdfs/
extracted-text/
numbered-pdfs/
processed-pdfs/
protected-pdfs/
resized-images/
rotated-pdfs/
split-pdfs/
unlocked-pdfs/
uploaded-excel/
uploaded-pdfs/
uploaded-powerpoints/
watermarked-pdfs/

# IntelliJ
.idea/
*.iml

# VS Code Local History
.history/

# Logs
*.log